.slider {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 208, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.image-container {
  width: 1500px;
  height: 300px;
  position: relative;
  clear: both;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  /*padding: auto;*/
  position: relative;
  box-shadow: 6px 12px #EBEAEA;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: rgb(243, 226, 226);
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div{
  /*background-color:  #f8f7f6;*/
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 1000px; 
  color: #000000;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
}
#kaekiri_title {
  color: #000000;
  font-family:'Franklin Gothic Medium';
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

#kaekiri_body {
  color: #000000;
  font-family: 'Snell Roundhand';
  font-size: 20px;
  text-align: left;
}

#normaalne_subtitle {
  color: #000000;
  font-family: 'Courier New';
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

/*#normaalne_body {
  color: #000000;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
}*/
.teine_heading {
  color: #000000;
  font-family: 'Franklin Gothic Medium';
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 1000px;
}
.kolmas_heading {
  color: #000000;
  font-family: 'Franklin Gothic Medium';
  font-size: 22px;
  text-align: left;
  font-weight: lighter;
}
.link {
  color: #302612;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  padding-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  font-weight: bolder;
}

.pilt {
  height: 250px;
  width: 500px;
  box-shadow: 4px 7px #EBEAEA;
  font-size: 0px;
}
#pilt_pannkook {
  height: 299px;
  width: 450px;
  box-shadow: 4px 7px #EBEAEA;
}
#taust {
  background-image: url('taust_lõikelaud2.jpg');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.table {
  text-align: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding-top: 100px;*/
}
.th {
  padding: 5px
 }

.menubar {
  background-color: rgba(163, 121, 4, 0.705);
  overflow: hidden;
  text-align: center;

}
.menubar a {
  color: #000000;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
.menubar a:hover {
  background-color: rgb(197, 186, 161);
  color: rgb(0, 0, 0);
}
.namma {
  float: left;
  text-align: center;
  font-family: 'Cambria';
  font-weight: bolder;
  font-size: 24px;
  padding-left: 50px;
  background-color: rgba(240, 236, 226, 0.705);
}
.namma2 {
  float: left;
}
#taane_index {
  color: #000000;
  font-family: 'Snell Roundhand';
  font-size: 50px;
  text-align: center;
  line-height: 220px;
  font-weight: lighter;
}
#pealkiri_index {
  color: #000000;
  font-family: 'Cambria';
  font-size: 24px;
  font-weight: bolder;
}



/* JÄRGNEV OSA ON VÕETUD https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {box-sizing:border-box}

/* Slideshow kasti suurus */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Peida pildid algolekus */
.mySlides {
  display: none;
}

/* Järgmine ja eelmine nupp */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* "Paremale" nupu asetamine paremasse äärde */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hiire hoidmine noolel annab sellele kergelt läbipaistva tumeda tausta*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Teksti ühtlane kujundus*/
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Slaidi numbriloenduse kujundus */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Slaidide all olevad kolm ringikest, mis näitavad slaidishow progressi */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Pildi hajuvus, kui teisele slaidile vajutada nupust */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}