.slider {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 208, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.image-container {
  width: 1500px;
  height: 300px;
  position: relative;
  clear: both;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  padding: auto;
  position: relative;
  box-shadow: 6px 12px #EBEAEA;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: rgb(243, 226, 226);
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 12px #EBEAEA;
}
.div{
  /*background-color:  #f8f7f6;*/
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 1000px; 
}
#kaekiri_title {
  color: #000000;
  font-family: 'Snell Roundhand';
  font-size: 50px;
  text-align: center;
}

#kaekiri_body {
  color: #000000;
  font-family: 'Snell Roundhand';
  font-size: 20px;
  text-align: left;
}

#normaalne_subtitle {
  color: #000000;
  font-family: 'Courier New';
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

#normaalne_body {
  color: #000000;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
}
#link {
  color: #302612;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  padding-top: 300px;
  text-decoration: none;
  font-weight: bolder;
}

#pilt {
  height: 250px;
  width: 500px;
  box-shadow: 4px 7px #EBEAEA;
  font-size: 0px;
}
#pilt_pannkook {
  height: 299px;
  width: 450px;
  box-shadow: 4px 7px #EBEAEA;
}
#taust {
  background-image: url('taust_lõikelaud2.jpg');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.table {
  text-align: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding-top: 100px;*/
}
.th {
  padding: 5px
 }

.menubar {
  background-color: rgba(163, 121, 4, 0.705);
  overflow: hidden;
  text-align: center;

}
.menubar a {
  color: #000000;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
.menubar a:hover {
  background-color: rgb(197, 186, 161);
  color: rgb(0, 0, 0);
}
.namma {
  float: left;
  text-align: center;
  font-size: 24px;
  padding-left: 50px;
  background-color: rgba(240, 236, 226, 0.705);
}
.namma2 {
  float: left;
}
#taane_index {
  color: #000000;
  font-family: 'Snell Roundhand';
  font-size: 50px;
  text-align: center;
  line-height: 220px;
}