.slider {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 208, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
.image-container {
  width: 1500px;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background-color: rgb(243, 226, 226);
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div{
  /*background-color:  #f8f7f6;*/
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 40%; 
}
#taust {
  background-image: url('maini-taust2.jfif');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#kaekiri_title {
  color: #4D4D4D;
  font-family: 'Snell Roundhand';
  font-size: 50px;
  text-align: center;
}

#kaekiri_body {
  color: #4D4D4D;
  font-family: 'Snell Roundhand';
  font-size: 20px;
  text-align: left;
}

#normaalne_subtitle {
  color: #4D4D4D;
  font-family: 'Courier New';
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

#normaalne_body {
  color: #4D4D4D;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
}
#link {
  color: #583BF6;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  padding-top: 500px;
}

#pilt {
  height: 250px;
  width: 500px;
  box-shadow: 6px 12px #EBEAEA;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.table {
  text-align: center;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .th {
  padding: 20px
 }