.div{
  /*background-color:  #f8f7f6;*/
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 1000px; 
  color: #000000;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
}
#kaekiri_title {
  color: #000000;
  font-family:'Franklin Gothic Medium';
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}
.teine_heading {
  color: #000000;
  font-family: 'Franklin Gothic Medium';
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  width: 1000px;
}
.link {
  color: #302612;
  font-family: 'Courier New';
  font-size: 20px;
  text-align: left;
  padding-top: 300px;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  font-weight: bolder;
}
.pilt {
  height: 250px;
  width: 500px;
  box-shadow: 4px 7px #EBEAEA;
  font-size: 0px;
}
#pilt_pannkook {
  height: 299px;
  width: 450px;
  box-shadow: 4px 7px #EBEAEA;
}
#taust {
  background-image: url('taust_lõikelaud2.jpg');
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.menubar {
  background-color: rgba(163, 121, 4, 0.705);
  overflow: hidden;
  text-align: center;
}
.menubar a {
  color: #000000;
  text-decoration: none;
  display:inline-block;
  text-align: center;
  font-size: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
.menubar a:hover {
  background-color: rgb(197, 186, 161);
  color: rgb(0, 0, 0);
}
.namma2 {
  float: left;
}
#pealkiri_index {
  color: #000000;
  font-family: 'Cambria';
  font-size: 24px;
  font-weight: bolder;
}